#views-exposed-form-nbox-search-mailbox-page-1 div.form--inline {
  display: flex;
}

#views-exposed-form-nbox-search-mailbox-page-1 .form-actions {
  clear: none;
  display: inline-block;
  align-self: flex-end;
}
